---
---

@import mixins

div#about
	text-align: center

	div
		margin-top: 7%
		display: inline-block
		vertical-align: top

		&#left
			margin-bottom: 20px
			margin-right: 40px
			min-width: 100px
			width: 20%
			max-width: 150px

			img
				@include vendor(border-radius, 100px)

				display: block
				width: 100%

		&#right
			text-align: left
			width: 60%
