---
---

@import mixins

@font-face
	font-family: "social_media_icons"
	src: url("../fonts/social_media_icons.eot?42575700")
	src: url("../fonts/social_media_icons.eot?42575700#iefix") format("embedded-opentype"),
	src: url("../fonts/social_media_icons.woff?42575700") format("woff")
	src: url("../fonts/social_media_icons.ttf?42575700") format("truetype")
	src: url("../fonts/social_media_icons.svg?42575700#social_media_icons") format("svg")
	font-weight: normal
	font-style: normal

div#about
	text-align: center

	div
		margin-top: 2%
		display: inline-block
		vertical-align: top

		&#left
			margin-bottom: 20px
			margin-right: 40px
			min-width: 100px
			width: 20%
			max-width: 150px

			img
				@include vendor(border-radius, 100px)

				display: block
				width: 100%

		&#right
			text-align: left
			width: 60%

			h1
				font-size: 1.4em

			p
				margin-top: 0px

			ul
				font-size: 1.1em

		div#links
			display: block
			font-family: social_media_icons
			font-size: 1.4em
			margin-left: auto
			margin-right: auto
			margin-top: 30px
			text-align: center
			width: 70%

			div
				display: inline-block
				min-width: 30px
				padding-bottom: 10px
				width: 33.3%

				#github:before
					content: "\e800"

				#linkedin:before
					content: "\e801"

				#stackoverflow:before
					content: "\e802"
