---
---

pre
	overflow: auto
	padding: 10px
	margin: 0
	white-space: pre

div.highlight
	background-color: #ebebeb
	font-size: 0.95em
	line-height: 1em
	margin-bottom: 20px

code.inline
	background-color: #e5e5e5
	padding: 2px 4px
