---
---

@import variables

html, body
	height: 100%
	padding: 0
	margin: 0

div#main
	background-color: blue
	font-family: sans-serif, helvetica
	height: 100%
	max-width: $width
	margin-left: auto
	margin-right: auto
