---
---

@import variables

div#meta
	span
		bottom: 0
		color: $baseColor2

	div#tags
		span
			color: $baseColor1

div#post
	margin-bottom: 50px

	#toc
		margin-bottom: 40px
		margin-top: 40px
		width: 100%

		.tocnumber
			color: $baseColor1

		.toctext
			float: right

		.toc_level-1 > a
			font-size: 1.5em

		.toc_level-2
			border-bottom: 1px dashed #bbb
			margin-bottom: 4px

		ul
			list-style-type: none
			margin-left: 0px

		ul ul
			margin-left: 40px

		#toctitle
			display: none

	> p > code
		background-color: #e2e2e2
		color: black
		padding: 3px

	ol, ul
		>li
			margin-bottom: 10px

	ul
		list-style: disc outside none
		margin-left: 40px

	p#mathjax-warning
		color: red
		font-size: 1.1em

h1#related-posts
	margin-top: 80px
