---
---

@import variables

div#meta
	span
		bottom: 0
		color: $baseColor2

#toc
	margin-bottom: 40px
	margin-top: 40px
	width: 100%

	.tocnumber
		color: $baseColor1

	.toctext
		float: right

	.toc_level-1 > a
		font-size: 1.5em

	.toc_level-2
		border-bottom: 1px dashed #bbb
		margin-bottom: 4px

	ul ul
		margin-left: 40px

	#toctitle
		display: none
