---
---

@import mixins
@import variables

@include font("projects")

div.project
	>div.text, >img
		display: inline-block
		vertical-align: top
		width: 70%

	>img
		$size: 25%

		height: $size
		margin-right: 5%
		width: $size

	>div.text
		>h1
			font-size: 1.5em
			margin-bottom: 4px

		>div.meta
			color: $baseColor2
			font-size: 1.1em
			margin-bottom: 4px

			>span.time
				font-weight: bold
				letter-spacing: 0.05em

			>span.separator
				color: $baseColor1
				margin: 0 5px

		>div.links
			font-family: projects
			margin-top: 14px
			width: 100%

			div
				display: inline-block
				text-align: center
				width: 50%

				&.download:before
					content: "\e800"

				&.github:before
					content: "\e801"

				a
					padding-left: 5px
