<li class="post">
	<div class="meta">
		<div id="thumbnail">
			<img src="{{ site.files_url }}/img/thumbnails/{{ post.thumbnail.link }}" alt="{{ post.thumbnail.alt }}">
		</div
		><div id="text">
			<a href="{{ post.url }}">{{ post.title }}</a>
			<span class="date">{{ post.date | date_to_string }}</span>
			<div>
				<span class="tags">tags:</span>

				{% for tag in post.tags %}
					{% unless forloop.last %}
						<a href="/articles/tags#{{ tag }}">{{ tag }}</a>,
					{% endunless %}
				{% endfor %}
				<a href="/articles/tags#{{ post.tags[-1] }}">{{ post.tags[-1] }}</a>
			</div>
		</div>
	</div>
	<div class="excerpt">
		{{ post.excerpt | markdownify | excerpt }}
	</div>
</li>
