% {{=<% %>=}}
\documentclass[12pt,a4paper,sans]{moderncv}

\moderncvtheme[blue]{banking}

\usepackage[utf8]{inputenc}
\usepackage[margin=1.1in,scale=0.8]{geometry}
\usepackage{multicol}
\renewcommand*\sectionfont{\fontfamily{phv}\fontsize{15}{24}\selectfont}
\renewcommand*\headingfont{\fontfamily{phv}\fontsize{15}{24}\selectfont}

\renewcommand*{\addresssymbol} {}
\renewcommand*{\mobilephonesymbol} {}
\renewcommand*{\fixedphonesymbol} {}
\renewcommand*{\faxphonesymbol} {}
\renewcommand*{\emailsymbol} {}
\renewcommand*{\homepagesymbol} {}
\renewcommand*{\linkedinsocialsymbol}{}
\renewcommand*{\twittersocialsymbol} {}
\renewcommand*{\githubsocialsymbol} {}

<%#bio_data%>
	\firstname{<%&firstname%>}
	\familyname{\mbox{<%&familyname%>}}
	<%#phone%>\phone{<%.%>}<%/phone%>
	<%#email%>\email{<%.%>}<%/email%>
	<%#raw_website%>\homepage{<%& .%>}<%/raw_website%>
	<%#linkedin_id%>\social[linkedin][<%& .%>]{<%& .%>}<%/linkedin_id%>
	<%#github_id%>\social[github][<%& .%>]{<%& .%>}<%/github_id%>

	% the ConTeXt symbol
	\def\ConTeXt{%
	  C%
	  \kern-.0333emo%
	  \kern-.0333emn%
	  \kern-.0667em\TeX%
	  \kern-.0333emt}

	% command and color used in this document, independently from moderncv
	\definecolor{see}{rgb}{0.0,0.0,0.8}% for web links
	\newcommand{\up}[1]{\ensuremath{^\textrm{\scriptsize#1}}}% for text subscripts
	\renewcommand{\labelitemi}{$\circ$}

	\begin{document}
	\maketitle

	\vspace*{-1.0cm}
	<%#skills%>
		\section{\textsc{##skills##}}
		\vspace*{0.2cm}
		<%#details%>
			\cvitem{}{\textbf{<%type%>}: <%#items%><%name%><%^last%>, <%/last%><%/items%>}
		<%/details%>
	<%/skills%>
	\vspace*{0.1cm}

	<%#experience%>
		\section{\textsc{Experience}}
		\vspace*{-0.4cm}

		<%#items%>
		\cventry
			{\textnormal{<%from%> - <%to%>}}
					{\textnormal{{\textbf{<%title%>} at <%organisation%>}}}
			{}
			{<%location%>}
			{}
			{
				\begin{itemize}
					\setlength{\itemindent}{1.5em}
					<%#details%>
						\item <%& .%>
					<%/details%>
				\end{itemize}
			}
			\vspace*{-.2cm}
		<%/items%>
	<%/experience%>
	\vspace*{0.1cm}

	<%#other_projects%>
		\section{\textsc{Projects}}
		\vspace*{-0.4cm}
		<%#items%>
			\cventry
			{\textnormal{<%time%>}}
			{\textnormal{\textbf{<%name%>}: <%headline%>}}
			{}
			{}
			{}
			{
				\begin{itemize}
					\setlength{\itemindent}{1.5em}
					<%#points%>\item <%& .%><%/points%>
					<%#technology_used%>
					\item ##technology_used##:
					<%#tools%><%name%><%^last%>, <%/last%><%/tools%>
					<%/technology_used%>
				\end{itemize}
			}
			\vspace*{-.2cm}
		<%/items%>
	<%/other_projects%>
	\vspace*{0.1cm}

	<%#education%>
		\section{\textsc{##education##}}
		\vspace*{-0.4cm}
		<%#schools%>
			\cventry
			{\textnormal{<%graduation_year%>}}
			{\textnormal{\textbf{<%institution%>}}, \textnormal{<%degree%>, <%#show_gpa%>##gpa##: <%gpa%><%/show_gpa%>}}
			{}
			{}
			{}
			{
				{
					\begin{itemize}
						\setlength{\itemindent}{1.5em}
						<%#details%>\item <%& .%><%/details%>
					\end{itemize}
				}
			}
			\vspace*{-.2cm}
		<%/schools%>
	<%/education%>
	\vspace*{0.1cm}

	<%#competitions%>
		\section{\textsc{Competitions}}
		\vspace*{0.1cm}
		<%#details%>
			\vspace*{-0.5cm}
			\cventry
			{\textnormal{<%date%>}}
					{\textnormal{\textbf{<%name%>} | <%position%> | team} <%team%>}
			{}
			{}
			{}
			{}
		<%/details%>
	<%/competitions%>
<%/bio_data%>
\end{document}
