{{=<% %>=}}
\documentclass[12pt,a4paper]{moderncv}

\moderncvtheme[blue]{classic}

\usepackage[utf8]{inputenc}
\usepackage[margin=0.45in,scale=0.8]{geometry}
\usepackage{multicol}

<%#bio_data%>
	\firstname{<%&firstname%>}
	\familyname{\mbox{<%&familyname%>}}
	\title{\small <%#stars%><%#items%><%name%><%^last%> $\star$ <%/last%><%/items%><%/stars%>}
	<%#phone%>\phone{<%.%>}<%/phone%>
	<%#email%>\email{<%.%>}<%/email%>
	<%#raw_website%>\homepage{<%& .%>}<%/raw_website%>
	<%#linkedin_id%>\social[linkedin][<%& .%>]{<%& .%>}<%/linkedin_id%>
	<%#github_id%>\social[github][<%& .%>]{<%& .%>}<%/github_id%>

	% the ConTeXt symbol
	\def\ConTeXt{%
	  C%
	  \kern-.0333emo%
	  \kern-.0333emn%
	  \kern-.0667em\TeX%
	  \kern-.0333emt}

	% command and color used in this document, independently from moderncv
	\definecolor{see}{rgb}{0.0,0.0,0.8}% for web links
	\newcommand{\up}[1]{\ensuremath{^\textrm{\scriptsize#1}}}% for text subscripts
	\renewcommand{\labelitemi}{$\circ$}

	\begin{document}
	\maketitle
	\vspace*{-1.8cm}

	<%#skills%>
		\section{\textsc{##skills##}}
		<%#details%>
			\cvitem{\textbullet}{\textbf{<%type%>}: <%#items%><%name%><%^last%>, <%/last%><%/items%>}
		<%/details%>
	<%/skills%>

	<%#experience%>
		\section{\textsc{##experience##}}
		<%#items%>
		\cventry{<%from%> - <%to%>}{<%title%> \textnormal{at} <%organisation%>}{}{<%location%>}{}{
			{\footnotesize
				\begin{itemize}
					<%#details%>
						\item <%& .%>
					<%/details%>
					<%#technology_used%>
						\item Tools used:
						\setlength\multicolsep{0pt}
						\begin{multicols}{2}
							\begin{itemize}
								<%#tools%>
									\item <%name%><%^last%><%/last%>
								<%/tools%>
							\end{itemize}
						\end{multicols}
					<%/technology_used%>
					\item References:
					\setlength\multicolsep{0pt}
					\begin{itemize}
						<%#references%>
							\item <%name%>, {<%#has_phone%><%phone%>, <%/has_phone%>}{<%#has_email%>\href{mailto:<%email%>}{<%email%>}<%/has_email%>}
						<%/references%>
					\end{itemize}
				\end{itemize}
				}
			}
		<%/items%>
	<%/experience%>

	<%#other_projects%>
		\section{\textsc{Projects}}
		<%#items%>
			\cvitem{\textbullet}{<%& headline%>}
			\vspace*{-0.15cm}
			\cvitem{}{
				{\footnotesize
					\begin{itemize}
					<%#points%>\item <%& .%><%/points%>
					<%#technology_used%>
					\item ##technology_used##:
					<%#tools%><%name%><%^last%>, <%/last%><%/tools%>
					<%/technology_used%>
					\end{itemize}
				}
			}
			\vspace*{-0.5cm}
		<%/items%>
	<%/other_projects%>

	<%#education%>
		\section{\textsc{##education##}}
		<%#schools%>
			\cventry
			{<%graduation_year%>}
			{<%degree%><%#major%>, <%major%><%/major%>}
			{<%institution%>}
			{}
			{<%#show_gpa%>##gpa##: <%gpa%><%/show_gpa%>}
			{}
			\vspace*{-0.15cm}
			\cvitem{}{
				{\footnotesize
					\begin{itemize}
						<%#details%>\item <%& .%><%/details%>
					\end{itemize}
				}
			}
		<%/schools%>
	<%/education%>

	<%#acad_achievements%>
		\section{\textsc{##acad_achievements##}}
		<%#items%>
			% \cvitem{LHS}{RHS}
			\cvitem{\textbullet}{<%& .%>}
		<%/items%>
	<%/acad_achievements%>

	<%#competitions%>
		\section{\textsc{Competitions}}
		<%#details%>
			% \cvitem{\textbullet}{
				% \textbf{{<%name%>}}, <%date%>, Position: \textbf{<%position%>}
			% }

			\cventry
			{<%date%>}
			{<%name%> \textnormal{| <%position%> | team} <%team%>}
			{}
			{}
			{}
			{}
		<%/details%>
	<%/competitions%>
<%/bio_data%>
\end{document}
%% end of file `page.tex'.
