<!DOCTYPE html>

<html>
	<head>
		<title>
			{{ page.title }}
		</title>

		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<meta name="description" content="">
		<meta name="viewport" content="initial-scale=1">

		{% if page.redirect %}
			<meta http-equiv="refresh" content="0; url={{ page.redirect }}">
		{% endif %}

	</head>
	<body>
		<!--[if lt IE 7]>
			<p>
				You are using an <strong>outdated</strong> browser. Please
				<a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
			</p>
		<![endif]-->

		<div id="main">
			{{ content }}
		</div>
	</body>
</html>
