<!DOCTYPE html>

<html>
	<head>
		<title>
			{{ page.title }}
		</title>

		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<meta name="description" content="">
		<meta name="viewport" content="initial-scale=1">
		<!-- <meta http-equiv="refresh" content="3"> -->
		{% if page.redirect %}
			<meta http-equiv="refresh" content="0; url={{ page.redirect }}">
		{% endif %}

		<link rel="stylesheet" type="text/css" href="/css/main.css">
		{% if page.stylesheet %}
			<link rel="stylesheet" type="text/css" href="/css/{{ page.title }}.css">
		{% endif %}
		{% if page.title != "home" %}
			<link rel="stylesheet" type="text/css" href="/css/header.css">
		{% endif %}

		{% if page.math %}
			<script src="http://cdn.mathjax.org/mathjax/2.4-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,local/local">
			</script>
		{% endif %}

		{{ page.head }}
	</head>
	<body>
		<!--[if lt IE 7]>
			<p>
				You are using an <strong>outdated</strong> browser. Please
				<a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
			</p>
		<![endif]-->

		<div id="main">
			{% if page.title != "home" %}
				{% include header.html %}
			{% endif %}
			{{ content }}
		</div>
	</body>
</html>
