<!DOCTYPE html>

<html>
	<head>
		<title>
			{{ page.title }}
		</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="description" content="{{ page.description }}">
		<meta name="viewport" content="initial-scale=1">

		{% if page.redirect %}
			<meta http-equiv="refresh" content="0; url={{ page.redirect }}">
		{% endif %}

		<style>
			div#header li#{{ page.title }} a {
				color: #3873b3;
				font-weight: bold;
			}
		</style>

		<link rel=”author” href="https://plus.google.com/109642458345919934865/">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">

		<!-- Page-specific stylesheets.  -->
		{% if page.stylesheet %}
			<link rel="stylesheet" type="text/css" href="/css/{{ page.title }}.css">
		{% endif %}
		{% if page.title != "home" %}
			<link rel="stylesheet" type="text/css" href="/css/header.css">
		{% endif %}
		{% if page.code %}
			<link rel="stylesheet" type="text/css" href="/css/code_color_scheme.css">
			<link rel="stylesheet" type="text/css" href="/css/code.css">
		{% endif %}

		<!-- MathJax configuration. -->
		{% if page.math %}
			<script src="http://cdn.mathjax.org/mathjax/2.4-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,local/local">
			</script>
			<script>
				MathJax.Hub.Config({
					jax: ["input/TeX", "output/HTML-CSS"],
					"HTML-CSS": {
						linebreaks: {automatic: true, width: "container"}
					}
				});
			</script>
		{% endif %}

		{{ page.head }}

		<!-- Bill. -->
		<script>
			console.log("_   /|\n\\'o.O'\n=(___)=\n   U\n\nHey there.");
		</script>

		<!-- Google Analytics. -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-30847723-5', 'auto');
			ga('send', 'pageview');
		</script>
	</head>
	<body>
		<!--[if lt IE 7]>
			<p>
				You are using an <strong>outdated</strong> browser. Please
				<a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
			</p>
		<![endif]-->

		<div id="main">
			{% if page.title != "home" %}
				{% include header.html %}
			{% endif %}
			{{ content }}
		</div>

	</body>
</html>
